<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ServletControlador</servlet-name>
    <servlet-class>es.avalon.controllers.ServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlador</servlet-name>
    <url-pattern>/controlador</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletControlador2</servlet-name>
    <servlet-class>es.avalon.controllers.ServletControlador2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlador2</servlet-name>
    <url-pattern>/controlador2</url-pattern>
  </servlet-mapping>


</web-app>